@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our student application</h1>
    <p class="lead"></p>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <h>This appliication is dedicated to students who want to manage their time.
        </h>
    </div>
    <div class="col-md-4">
        <h2>Hello student</h2>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        
    </div>
</div>